<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF2B991C1C10D24C004EE162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF2B99301C10D24C004EE162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF2B993B1C10D24C004EE162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
